/* general */

a {
    color: black;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    margin: 6rem;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

hr {
    margin: 3rem 0;
}

/* general class */

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.w-f {
    width: 100%;
}

.w-0 {
    width: 0;
}

.m-3 {
    margin: 3rem;
}

.ml-1 {
    margin-left: 1rem;
}

.p-1 {
    padding: 1rem;
}

.pl-1 {
    padding-left: 1rem;
}

.fs-2_5 {
    font-size: 2.5rem;
}

.nowrap {
    white-space: nowrap;
}

/* entity */

div.band {
    margin: 0;
    min-width: 100%;
    background-color: #D9F1FE;
    padding: 0.8rem 0;
}

div.holder {
    margin: 3rem 0;
}

div.holder-title {
    min-width: 100%;
    padding: 0.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    border-bottom: solid 1px black;
    box-sizing: border-box;
}

div.holder-content {
    display: none;
    padding: 0.5rem;
}

/* main */

#main {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

/* header */

#header-narrow {
    display: none;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: black;
    background-color: white;
}

#header div {
    margin: 0.8rem 1.2rem;
}

#header a {
    color: inherit;
    text-decoration: none;
}

#header-title {
    margin-right: auto !important;
    font-size: 1.3rem;
}

/* sidebar */

#sidebar {
    display: none;
}

/* animation */

@keyframes white-to-black {
    0% {
        color: black;
        background-color: white;
    }

    100% {
        color: white;
        background-color: #111;
    }
}

@keyframes black-to-white {
    0% {
        color: white;
        background-color: #111;
    }

    100% {
        color: black;
        background-color: white;
    }
}

/* responsive */

@media screen and (max-width: 1000px) {

    /* general */

    h1 {
        font-size: 2em;
        margin: 5rem auto;
    }

    h2 {
        font-size: 1.5em;
    }

    /* main */

    #main {
        padding: 0 1rem;
    }

    /* header */

    #header {
        display: none;
    }

    #spacer {
        display: none;
    }

    #header-narrow {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        display: flex;
        color: black;
        background-color: white;
    }

    #header-narrow div {
        margin: 1rem;
        margin-left: 0;
    }

    #header-narrow a {
        color: inherit;
        text-decoration: none;
    }

    #header-title-narrow {
        font-size: 1.1rem;
    }

    /* sidebar */

    #sidebar-background {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        min-width: 100%;
        min-height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }

    #sidebar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        min-width: 14rem;
        min-height: 100%;
        background-color: #222;
    }

    #sidebar div {
        color: white;
        margin: 1rem 2rem;
    }

    #sidebar div a {
        color: inherit;
        text-decoration: none;
    }

    div#sidebar-icon-open,
    div#sidebar-icon-close {
        margin: 1rem;
        cursor: pointer;
        user-select: none;
    }
}